*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.headergradient{
    background: linear-gradient( 90deg, #FFC20008, #F7F8FF, #F7F8FF);
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-top: -1;
    margin-right: -0.5;
    margin-left: -0.5;
}


.relative{
    position: relative;
}
.height100{
    min-height: 100vh;
}
.wave{
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: -1;
}
.wave img{
    width: 100%;
}
.container1{
    display: flex;
    max-width: 720px;
    width: 100%;
    padding-right:0.75rem ;
    padding-left: 0.75rem;
    margin-right: auto;
    margin-left: auto;
    gap: 150px;
}
.container{
    max-width: 720px;
    width: 100%;
    padding-right:0.75rem ;
    padding-left: 0.75rem;
    margin-right: auto;
    margin-left: auto;
}
.sec{
    flex: 0 0 auto;
    width: 100%;
}
.header{
    margin-top: 200px;
    line-height: 50px;
    text-align: center;
}

h1, h3, p, h5, body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header-button{
    display: flex;
    justify-content: center;
}
a{
    color: #0d6efd;
    text-decoration: underline;
}
.headbutton{
    margin-right: 5px;
    background-color: yellow;
}
button:not(:disabled) {
    cursor: pointer;
}
button{
    margin: 0;
    font-family: inherit;
    line-height: inherit;
}

.h1{
    border-radius: 11.584698677062988px;
    width: 146px;
    height: 48.67px;
    border: none;
}
.no-bg{
    background-color: transparent;
}
img{
    vertical-align: middle;
}
.headerposter{
    margin-top: 80px;
    height: 92vh;
    display: none;
}
.headerposter img{
    padding: 0%;
    height: 100%;
    width: 30%;
}
.theprogram{
    margin-bottom: 0;
}

[class="theprogram height100"]{
    min-height: fit-content;
}
.text{
    margin: 40px auto;
    text-align: center;
}
.alignitemscenter{
    align-items: center !important;
}
.flexcolumn{
    flex-direction: column !important;
}
.dflex{
    display: flex !important;
}
.coverhead{
    border-radius: 5.8px;
    height: 130px;
    background-color: #fff;
}
.coh4{
    flex: 0 0 auto;
    width: 33.33333333%;
}
.dmb{
    margin-bottom: 2rem;
}
.coverheading{
    padding: 10px;
    margin: 10px;
}
.coverheading{
    display: flex ; 
    flex: 1px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 52.6301px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    height: 150px;
}
.coh3{
    display: flex;
    flex: 5px;
}
img{
    vertical-align: middle;
}
img{
    overflow-clip-margin: content-box;
    overflow: clip;
}
.coverheading h5{
    display: none;
}
h5{
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}




