.container{
    border: solid black;
    border-radius: 5px;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    /* align-items: center; */
    /* flex-wrap: wrap; */
    /* align-content: ; */
    /* gap: 1em; */
}


.box{
    width: 100px;
    height: 100px;
    border: solid black;
    border-radius: 5px;
    
}

.item1{
    background-color: crimson;
    flex-grow: ;

}

.item2{
    background-color:coral;
    flex-shrink: 0;
}
.item3{
    background-color: cornflowerblue;
    order: ;
}
.item4{
    background-color: hotpink;
}